<!-- Header -->
<header id="header">
    <h1>Sourabh Vilas Shirhatti</h1>
    <p>PM at Microsoft &nbsp;&bull;&nbsp; UT Austin Alumni &nbsp;&bull;&nbsp; Tech Enthusiast</p>
    <nav>
        <ul>

            <li><a href="https://twitter.com/sshirhatti" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/shirhatti" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="https://github.com/shirhatti" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="https://www.linkedin.com/in/shirhatti" class="icon fa-linkedin"><span class="label">Email</span></a></li>
        </ul>
    </nav>
</header>
